.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.card__image {
  width: 282px;
  height: 282px;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding: 25px 20px;
  align-items: center;
  justify-content: space-between;
  font-family: "Inter", arial, sans-serif;
}

.card__title {
  max-width: 220px;
  font-family: "Inter", arial, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.card__like-button {
  background: transparent url("../images/heart.svg") center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
}

.card__like-button_active {
  background-image: url("../images/heart_active.svg");
}

.card__like-button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.card__delete-button {
  background: transparent url("../images/Trash.svg") center no-repeat;
  border: none;
  position: absolute;
  width: 18px;
  height: 19.3px;
  top: 18px;
  left: 249px;
  right: 15px;
  bottom: 244.7px;
}

.card__delete-button:hover {
  cursor: pointer;
  opacity: 0.5;
}
