.footer {
  box-sizing: border-box;
}

.footer__copyright {
  color: #545454;
  margin-top: 67px;
  margin-bottom: 60px;
  font-size: 18px;
  line-height: 22px;
  font-family: "Inter", arial, sans-serif;
}

@media screen and (max-width: 480px) {
  .footer__copyright {
    margin-left: 19px;
    position: relative;
    font-size: 14px;
    line-height: 17px;
    margin: 48px 0 36px 19px;
  }
}
