.header {
  font-family: "Inter", Arial, sans-serif;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

.header__logo {
  margin: 45px 0 41px;
}

@media screen and (max-width: 480px) {
  .header {
    border-bottom-width: 100%;
  }

  .header__logo {
    width: 126px;
    height: 24px;
    margin: 28px 0 32px 27px;
  }
}
