.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
  max-width: 880px;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 373px) auto;
  font-family: "Inter", arial, sans-serif;
  font-size: 42px;
  line-height: 48px;
  text-align: left;
  align-items: center;
  gap: 15px;
}

.profile__edit-button {
  background: transparent url("../images/pencil.svg") center no-repeat;
  height: 24px;
  width: 24px;
  border: 1px solid #fff;
  grid-area: button;
}

.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile__add-button {
  background: transparent url("../images/plus.svg") center no-repeat;
  width: 150px;
  height: 50px;
  grid-area: button;
  margin-left: auto;
  border: solid 2px #fff;
  border-radius: 2px;
}

.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile__title {
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  grid-area: title;
  margin: 0;
  max-width: 373px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__description {
  font-size: 18px;
  line-height: 22px;
  grid-area: description;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__image {
  height: 120px;
  width: 120px;
  margin-right: 24px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

@media screen and (max-width: 480px) {
  .profile {
    flex-direction: column;
    justify-content: center;
    padding-top: 42px;
  }

  .profile__title {
    font-family: "Inter", arial, sans-serif;
    max-width: 196px;
    font-size: 22px;
    line-height: 27px;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    row-gap: 0;
  }

  .profile__description {
    width: 100%;
    font-family: "Inter", arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-top: 14px;
    text-align: center;
    max-width: 282px;
  }

  .profile__edit-button {
    padding-top: 4px;
    width: 18px;
    height: 18px;
  }

  .profile__add-button {
    margin: 36px 0;
    width: 282px;
  }

  .profile__image {
    margin: 0 0 30px;
  }
}
